.custom_btn {
    cursor: pointer;
    width: 108px;
    height: 44px;
    line-height: 45px;
    padding: 0;
    background: 0 0;
    background-color: #4e6ef2;
    border-radius: 0;
    font-size: 17px;
    color: #fff;
    box-shadow: none;
    font-weight: 400;
    border: none;
    outline: 0;
    border-right: 1px solid white;
}
.custom_btn:hover{
    background-color: #4662d9;
}
